node_modules/
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/

.DS_Store
Thumbs.db
 Creating account:
// POST http://localhost:5000/api/v1/auth/register
{
  "firstName": "Yusuf",
  "lastName": "Ajah",
  "email": "yusuf@example.com",
  "password": "StrongPassword123"
}
login account
// POST http://localhost:5000/api/v1/auth/login
{
  "email": "yusuf@example.com",
  "password": "StrongPassword123"
}
get authenticated 
// GET http://localhost:5000/api/v1/auth/me
no json data

logging out
POST  http://localhost:5000/api/v1/auth/logout
{
  "success": true,
  "message": "Logout successful.",
  "data": null
}